@{
	ViewData["Title"] = "Добави продукт";
}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Моят профил</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Начало</a></li>
						<li class="active">моят профил</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a href="">Табло</a></li>
					<li><a href="">Поръчки</a></li>
					<li><a class="active" href="">Добави продукт</a></li>
					<li><a href="">Детайли за профила</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<form id="contact-form" method="post" action="" role="form">

						<div class="form-group">
							<input type="text" placeholder="Име на продукта" class="form-control">
						</div>

						<div class="form-group">
							<input type="number" placeholder="Количество" class="form-control">
						</div>

						<div class="form-group">
							<input type="number" step="0.01" placeholder="Цена" class="form-control">
						</div>

						<div class="form-group">
							<select class="form-control">
								<option value="men">Мъже</option>
								<option value="women">Жени</option>
								<option value="kids">Деца</option>
							</select>
						</div>

						<div class="form-group">
							<textarea rows="6" placeholder="Описание" class="form-control"></textarea>
						</div>

						<div id="cf-submit">
							<input type="submit" id="contact-submit" class="btn btn-transparent" value="Добави">
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</section>