@model Shoe4U.ViewModels.Products.CreateProductInputModel
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Добави продукт</h1>
                    <ol class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li class="active">Добави продукт</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="user-dashboard page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline dashboard-menu text-center">
                    <li><a asp-controller="Profile" asp-action="Dashboard">Табло</a></li>
                    <li><a asp-controller="Profile" asp-action="Orders">Поръчки</a></li>
                    <li><a asp-action="Add" class="active">Добави продукт</a></li>
                    <li><a asp-controller="Profile" asp-action="Details">Детайли за профила</a></li>
                </ul>
                <div class="dashboard-wrapper user-dashboard">
                    <form id="contact-form" method="post" asp-controller="Products" asp-action="Create" role="form" enctype="multipart/form-data">

                        <div class="form-group">
                            <input type="text" asp-for="Name" placeholder="Име на продукта" class="form-control" name="name">
                        </div>
                        
                        <div class="form-group">
                            <textarea rows="6" asp-for="Description" placeholder="Описание" class="form-control" name="description"></textarea>
                        </div>
                        
                        <div class="form-group">
                            <input type="number" asp-for="Price" step="0.01" placeholder="Цена" class="form-control" name="price">
                        </div>

                        <div class="form-group">
                            <input type="number" asp-for="Availability" placeholder="Количество" class="form-control" name="availability">
                        </div>

                        <div class="form-group">
                            <input type="text" asp-for="Color" placeholder="Цвят" class="form-control" name="color">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" asp-for="Material" placeholder="Материал" class="form-control" name="material">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" asp-for="Brand" placeholder="Марка" class="form-control" name="brand">
                        </div>
                        
                        <div class="form-group">
                            <input type="text" asp-for="Size" placeholder="Размер" class="form-control" name="size">
                        </div>
                        
                        <div class="form-group">
                            <input type="file" asp-for="Image" placeholder="Снимка" class="form-control" name="image" />
                        </div>

                        <div id="cf-submit">
                            <input type="submit" id="contact-submit" class="btn btn-transparent" value="Добави">
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>