@{
	ViewData["Title"] = "Магазин";
}

<section class="products section">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="widget">
					<h4 class="widget-title">Филтрирай по</h4>
					<form method="post" action="#">
						<select class="form-control">
							<option>Мъжки</option>
							<option>Дамски</option>
							<option>Детски</option>
						</select>
					</form>
				</div>
				<div class="widget product-category">
					<h4 class="widget-title">Категории</h4>
					<div class="panel-group commonAccordion" id="accordion" role="tablist"
						 aria-multiselectable="true">
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingOne">
								<h4 class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion"
									   href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
										Shoes
									</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
								 aria-labelledby="headingOne">
								<div class="panel-body">
									<ul>
										<li><a href="#!">Brand & Twist</a></li>
										<li><a href="#!">Shoe Color</a></li>
										<li><a href="#!">Shoe Color</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse"
									   data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
									   aria-controls="collapseTwo">
										Duty Wear
									</a>
								</h4>
							</div>
							<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
								 aria-labelledby="headingTwo">
								<div class="panel-body">
									<ul>
										<li><a href="#!">Brand & Twist</a></li>
										<li><a href="#!">Shoe Color</a></li>
										<li><a href="#!">Shoe Color</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingThree">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse"
									   data-parent="#accordion" href="#collapseThree" aria-expanded="false"
									   aria-controls="collapseThree">
										WorkOut Shoes
									</a>
								</h4>
							</div>
							<div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
								 aria-labelledby="headingThree">
								<div class="panel-body">
									<ul>
										<li><a href="#!">Brand & Twist</a></li>
										<li><a href="#!">Shoe Color</a></li>
										<li><a href="#!">Gladian Shoes</a></li>
										<li><a href="#!">Swis Shoes</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-9">
				<div class="row">

					<div class="col-md-4">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="~/images/shop/products/product-1.jpg"
									 alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<a asp-action="Details"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4>Спортни обувки</h4>
								<p class="price">102 лв.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="~/images/shop/products/product-2.jpg"
									 alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<a asp-action="Details"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4>Зимни обувки</h4>
								<p class="price">89 лв.</p>
							</div>
						</div>
					</div>

					<div class="col-md-4">
						<div class="product-item">
							<div class="product-thumb">
								<img class="img-responsive" src="~/images/shop/products/product-3.jpg"
									 alt="product-img" />
								<div class="preview-meta">
									<ul>
										<li>
											<a asp-action="Details"><i class="tf-ion-android-cart"></i></a>
										</li>
									</ul>
								</div>
							</div>
							<div class="product-content">
								<h4>Ежедневни обувки</h4>
								<p class="price">78 лв.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>