<!DOCTYPE html>

<html lang="bg">
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/plugins/themefisher-font/style.css">
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <link rel="stylesheet" href="~/plugins/slick/slick-theme.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body id="body">

    <section class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <div class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <svg width="135px" height="29px" viewBox="0 0 155 29" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" font-size="40"
                                   font-family="AustinBold, Austin" font-weight="bold">
                                    <g id="Group" transform="translate(-108.000000, -297.000000)" fill="#000000">
                                        <text id="SHOE4U">
                                            <tspan x="108.94" y="325">SHOE4U</tspan>
                                        </text>
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6">
                    <ul class="top-menu text-right list-inline">
                        <li class="dropdown cart-nav dropdown-slide">
                            <a asp-controller="Orders" asp-action="Cart" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"><i class="tf-ion-android-cart"></i> Количка</a>
                            <div class="dropdown-menu cart-dropdown">
                                <!-- Cart Item -->
                                <div class="media">
                                    <a class="pull-left" asp-controller="Products" asp-action="Details">
                                        <img class="media-object" src="~/images/shop/products/product-1.jpg" alt="image" />
                                    </a>
                                    <div class="media-body">
                                        <h4 class="media-heading"><a asp-controller="Products" asp-action="Details">Име на продукт</a></h4>
                                        <div class="cart-price">
                                            <span>1 x</span>
                                            <span>1250.00 лв.</span>
                                        </div>
                                        <h5><strong>1200 лв.</strong></h5>
                                    </div>
                                    <a href="#!" class="remove"><i class="tf-ion-close"></i></a>
                                </div>

                                <div class="cart-summary">
                                    <span>Общо</span>
                                    <span class="total-price">1799.00 лв.</span>
                                </div>
                                <ul class="text-center cart-buttons">
                                    <li><a asp-controller="Orders" asp-action="Cart" class="btn btn-small">Виж количка</a></li>
                                    <li><a asp-controller="Orders" asp-action="Checkout" class="btn btn-small btn-solid-border">Плащане</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="dropdown search dropdown-slide">
                            <a asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-right-to-bracket"></i> Вход</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="menu">
        <nav class="navbar navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="navbar" class="navbar-collapse collapse text-center">
                    <ul class="nav navbar-nav">
                        <li class="dropdown"><a asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li class="dropdown"><a asp-controller="Products" asp-action="All">Магазин</a></li>
                        <li class="dropdown"><a asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="social-media">
                        <li><a href=""><i class="tf-ion-social-facebook"></i></a></li>
                        <li><a href=""><i class="tf-ion-social-instagram"></i></a></li>
                    </ul>
                    <ul class="footer-menu text-uppercase">
                        <li><a asp-controller="Home" asp-action="Index">Начало</a></li>
                        <li><a asp-controller="Products" asp-action="All">Магазин</a></li>
                        <li><a asp-controller="Home" asp-action="Contacts">Контакти</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/plugins/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js"></script>
    <script src="~/plugins/instafeed/instafeed.min.js"></script>
    <script src="~/plugins/ekko-lightbox/dist/ekko-lightbox.min.js"></script>
    <script src="~/plugins/syo-timer/build/jquery.syotimer.min.js"></script>
    <script src="~/plugins/slick/slick.min.js"></script>
    <script src="~/plugins/slick/slick-animation.min.js"></script>
    <script src="~/js/script.js"></script>
    @RenderSection("Scripts", required: false);
</body>
</html>
