@{
	ViewData["Title"] = "Табло";
}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Моят профил</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Начало</a></li>
						<li class="active">моят прафил</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a class="active" href="">Табло</a></li>
					<li><a href="">Поръчки</a></li>
					<li><a href="">Добави продукт</a></li>
					<li><a href="">Детайли за профила</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="total-order mt-20">
						<h4>Всички поръчки</h4>
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th>Номер на поръчката</th>
										<th>Дата</th>
										<th>Продукти</th>
										<th>Цена</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><a href="#!">#252125</a></td>
										<td>25.04.2016</td>
										<td>3</td>
										<td>99.00 лв.</td>
									</tr>
									<tr>
										<td><a href="#!">#252125</a></td>
										<td>29.01.2016</td>
										<td>8</td>
										<td>99.00 лв.</td>
									</tr>
									<tr>
										<td><a href="#!">#252125</a></td>
										<td>01.04.2016</td>
										<td>2</td>
										<td>99.00 лв.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>