@{
	ViewData["Title"] = "Поръчки";
}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Моят профил</h1>
					<ol class="breadcrumb">
						<li><a href="index.html">Начало</a></li>
						<li class="active">моят профил</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a href="">Табло</a></li>
					<li><a class="active" href="">Поръчки</a></li>
					<li><a href="">Добави продукт</a></li>
					<li><a href="">Детайли за профила</a></li>
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Номер на поръчката</th>
									<th>Дата</th>
									<th>Продукти</th>
									<th>Цена</th>
									<th>Изтрий</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><a href="#!">#252125</a></td>
									<td>25.04.2016</td>
									<td>3</td>
									<td>99.00 лв.</td>
									<td>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default">
												<i class="tf-ion-close"
												   aria-hidden="true"></i>
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<td><a href="#!">#252125</a></td>
									<td>25.04.2016</td>
									<td>3</td>
									<td>99.00 лв.</td>
									<td>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default">
												<i class="tf-ion-close"
												   aria-hidden="true"></i>
											</button>
										</div>
									</td>
								</tr>
								<tr>
									<td><a href="#!">#252125</a></td>
									<td>25.04.2016</td>
									<td>3</td>
									<td>99.00 лв.</td>
									<td>
										<div class="btn-group" role="group">
											<button type="button" class="btn btn-default">
												<i class="tf-ion-close"
												   aria-hidden="true"></i>
											</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>