@model List<Shoe4U.Models.Products.LatestProductsViewModel>

<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">РАЗНООБРАЗИЕ</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Голямо разнообразие <br> от марки и стилове.</h1>
					<a asp-controller="Products" asp-action="All" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn">Пазарувай</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-3.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-left">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">ЛЕСНА ПОРЪЧКА</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Поръчай любимия чифт обувки <br> само с няколко клика.</h1>
					<a asp-controller="Products" asp-action="All" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn">Пазарувай</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-right">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">НОВИ ПРЕДЛОЖЕНИЯ</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Бъди в крак <br> с модата.</h1>
					<a asp-controller="Products" asp-action="All" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn">Пазарувай</a>
				</div>
			</div>
		</div>
	</div>
</div>

@if (Model.Any())
{
    <section class="products section bg-gray">
        <div class="container">
            <div class="row">
                <div class="title text-center">
                    <h2>Последно добавени</h2>
                </div>
            </div>
            <div class="row">
                @foreach (var product in Model)
                {
                    <div class="col-md-3">
                        <div class="product-item">
                            <div class="product-thumb">
                                <img class="img-responsive" src="@product.ImageUrl" alt="product-img"/>
                                <div class="preview-meta">
                                    <ul>
                                        <li>
                                            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id"><i class="fa-solid fa-circle-info"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="product-content">
                                <h4>@product.Name</h4>
                                <p class="price">@product.Price лв.</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

}

<section class="product-category section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Категории обувки</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box">
                    <a asp-controller="Products" asp-action="Males">
                        <img src="~/images/shop/category/category-1.jpg" alt="" />
                        <div class="content">
                            <h3>Мъжки обувки</h3>
                        </div>
                    </a>
                </div>
                <div class="category-box">
                    <a asp-controller="Products" asp-action="Females">
                        <img src="~/images/shop/category/category-2.jpg" alt="" />
                        <div class="content">
                            <h3>Дамски обувки</h3>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="category-box category-box-2">
                    <a asp-controller="Products" asp-action="Kids">
                        <img src="~/images/shop/category/category-3.jpg" alt="" />
                        <div class="content">
                            <h3>Детски обувки</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>