@{
    ViewData["Title"] = "Начало";
}

<div class="hero-slider">
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-center">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">РАЗНООБРАЗИЕ</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Голямо разнообразие <br> от марки и стилове.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Пазарувай</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-3.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-left">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">ПРЕДЛОЖЕНИЯ</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Специални предложения <br> и отстъпки.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Пазарувай</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-2.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 text-right">
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">ТЪРСЕНЕ</p>
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Изпробвай нашата лесна и <br> интуитивна търсачка.</h1>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Пазарувай</a>
				</div>
			</div>
		</div>
	</div>
</div>

<section class="product-category section">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="title text-center">
					<h2>Категории обувки</h2>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box">
					<a href="#!">
						<img src="images/shop/category/category-1.jpg" alt="" />
						<div class="content">
							<h3>Мъжки обувки</h3>
						</div>
					</a>
				</div>
				<div class="category-box">
					<a href="#!">
						<img src="images/shop/category/category-2.jpg" alt="" />
						<div class="content">
							<h3>Дамски обувки</h3>
						</div>
					</a>
				</div>
			</div>
			<div class="col-md-6">
				<div class="category-box category-box-2">
					<a href="#!">
						<img src="images/shop/category/category-3.jpg" alt="" />
						<div class="content">
							<h3>Детски обувки</h3>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="products section bg-gray">
	<div class="container">
		<div class="row">
			<div class="title text-center">
				<h2>Популярни продукти</h2>
			</div>
		</div>
		<div class="row">

			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="images/shop/products/product-1.jpg" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="">Спортни обувки</a></h4>
						<p class="price">102 лв.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="images/shop/products/product-2.jpg" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="">Зимни обувки</a></h4>
						<p class="price">89 лв.</p>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="product-item">
					<div class="product-thumb">
						<img class="img-responsive" src="images/shop/products/product-3.jpg" alt="product-img" />
						<div class="preview-meta">
							<ul>
								<li>
									<a href="#!"><i class="tf-ion-android-cart"></i></a>
								</li>
							</ul>
						</div>
					</div>
					<div class="product-content">
						<h4><a href="">Ежедневни обувки</a></h4>
						<p class="price">78 лв.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>